.content-container{
    .content_container{
        background: grey;
        font-size: 14px;
        color: white;
    }
}

.content-model-container{
    background: white;
    color: black;
    border: 1px solid grey;
    border-radius: 2px;
    position: absolute;
    margin-left: 262px;
    margin-top: -54px;
    width: 50%;
    z-index: 4;
    opacity: 0;
    top:10%;
      // right: -50px;
    //margin-left: calc(21% - -5px);


    div:hover{
        background: rgb(228, 227, 227);
    }
}

:host ::ng-deep .ui-scrollpanel-content, :host ::ng-deep .ui-scrollpanel-wrapper{
    position: static;
}

:host ::ng-deep .primeSubMenu.ui-menu.ui-widget.ui-widget-content.ui-corner-all.ui-menu-dynamic.ui-shadow {
    margin-left: 20%;
    margin-top: -5%;
}